<nav class="navbar">
  <a href="index.html" class="home-icon"><i class="fa-solid fa-house"></i></a>
  <li class="nav-item">
    <a href="/pages/about.html">About us</a>
    <div class="dropdown-menu">
      <a href="/pages/about.html#about-overview">Overview</a>
      <a href="/pages/about.html#about-vision">Vision &amp; Mission</a>
      <a href="/pages/about.html#about-leadership">Vice-Chancellor/Director's Message</a>
      <a href="/pages/about.html#about-history">History</a>
      <a href="/pages/about.html#about-administration">Administration and Organization HOD details</a>
      <a href="/pages/contact.html">Contact US / How to reach</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="/pages/campus-life.html">Campus Life</a>
    <div class="dropdown-menu">
      <a href="/pages/dean-office.html">Office of the Dean</a>
      <a href="/pages/hostels-dining.html">Hostels and Dining facilities</a>
      <a href="/pages/ncc-nss.html">NCC &amp; NSS</a>
      <a href="/pages/clubs-society.html">Clubs and Societies</a>
      <a href="/pages/sports.html">Sports Infrastructure and Teams</a>
      <a href="/pages/annual-fests.html">Annual Fests</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="/pages/academics.html">Academics</a>
    <div class="dropdown-menu">
      <a href="/pages/programs.html">Programs Offered</a>
      <a href="/pages/undergraduate.html">Under-Graduate</a>
      <a href="/pages/postgraduate.html">Post-Graduate</a>
      <a href="/pages/nptel.html">NPTEL/MOOCS</a>
      <a href="/pages/library.html">Central and College Library</a>
      <a href="/pages/exam-cell.html">Examination Cell</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="/pages/admission.html">Admissions</a>
    <div class="dropdown-menu">
      <a href="/pages/why-soet.html">Why SOET Ujjain?</a>
      <a href="/pages/life-in-ujjain.html">Life in Ujjain</a>
      <a href="/pages/btech-admissions.html">B.TECH Admissions</a>
      <a href="/pages/mtech-programs.html">M.TECH/PHD Admissions</a>
      <a href="/pages/anti-ragging.html">Anti-Ragging Policy</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="/pages/placement.html">Training &amp; Placement cell</a>
    <div class="dropdown-menu">
      <a href="/pages/placement.html#tp-message">Message from T&amp;P Officer</a>
      <a href="/pages/placement.html#tp-stats">Placement Statistics and Annual Report</a>
      <a href="/pages/placement.html#tp-brochure">Official Placement Brochure</a>
      <a href="/pages/placement.html#tp-procedure">Recruitment Procedure</a>
      <a href="/pages/placement.html#tp-skills">Student Skill Development</a>
    </div>
  </li>
  <li class="nav-item"><a href="/pages/alumni.html">Alumni</a></li>
  <a href="/pages/contact.html">Contact Us</a>
  <li>
    <a href="#" onclick="openSearch()">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </a>
  </li>
</nav>



